<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Email Domain Blacklist</display-name>

    <servlet>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <url-pattern>/get</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/list</url-pattern>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>